<h3>Search results for Lists</h3>

<% @results.each do |result| %>
  <% raise %>
  <%= result.name %>
<% end %>s

<h3>Search results for Movies</h3>

<% @results_movie.each do |movie| %>
   <%= movie.title %>
<% end %>
